*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:Arial, sans-serif;
    line-height:1.6;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

nav ul{
    display:flex;
    list-style: none;
    gap: 25px;
}

/* remove the underline on the link  */
nav a{  
    text-decoration: none;
}

section{
    padding: 80px 8%;
    min-height: 50vh;
}

#home {
    min-height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article{
    margin: 30px 0;
    padding: 25px;
    border: 1px solid #ddd;
}

:root{
    --bg-color : #050123;
    --card-color : #01030e;
    --text-color: #f8fafc;
    --muted-text: #94a3b8;
    --accent-color: #38bdf8;

    --max-width : 1100px;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color)
}

header{
    position: sticky;
    top : 0;
    z-index: 1000;
    background:  rgba(15,23,42,0.9);
    backdrop-filter: blur(10px);
}

nav{
    max-width : var(--max-width);
    margin : auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav h2{
    color: var(--accent-color);
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3e ease;
}

nav a:hover{
    color: var(--accent-color);
}

setion {
    max-width: var(--max-width);
    margin: auto;
    padding: 100px 20px;
}

